extends layout

block content

  h1 #{title}: #{bookinstance.imprint}
  p= bookinstance.status

    form(method='POST')
      div.form-group
        input#bookinstanceid.form-control(type='hidden', name='bookinstanceid', value=bookinstance._id )

      button.btn.btn-primary(type='submit') Delete
