extends layout

block content
  div(class="container mt-4")
    h1.text-center.mb-4 #{title}

    // Formulario
    form(method='POST' class="shadow-sm p-4 bg-light rounded")
      div.form-group
        label(for='name' class="font-weight-bold") Genre:
        input#name.form-control(type='text', placeholder='Fantasy, Poetry, etc.' name='name' required value=(undefined===genre ? '' : genre.name) )

      button.btn.btn-primary.btn-block.mt-3(type='submit') Submit

    // Mensajes de error
    if errors
      div(class="alert alert-danger mt-3")
        ul.mb-0
          for error in errors
            li!= error.msg
