extends layout

block content
  h1.text-center.mt-4.mb-4= title

  if genre_list.length
    div(class="genre-list-container")
      each genre in genre_list
        div(class="card mb-3 shadow-sm")
          div(class="card-body")
            h5(class="card-title")
              a(href=genre.url class="text-decoration-none text-dark") #{genre.name}
  else
    div(class="alert alert-warning text-center mt-4")
      p There are no genres.
