.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.collapse {
  display: none;
}

.collapse.show {
  display: block;
}

/* .navbar-toggler-icon {
  background-color: #333;
} */

.circular-progress {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 20px auto;
  border-radius: 50%; /* Asegura la forma circular */
  background: rgba(0, 123, 255, 0.4); /* Fondo para el círculo */
}

.circular-progress .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  clip-path: circle(50%); /* Asegura cortes precisos */
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-progress .label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Arial, sans-serif;
  pointer-events: none; /* Evita interferencias al hacer clic */
}

.circular-progress .label span {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.circular-progress .label .value {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-top: 5px;
}
